Mule_v1/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
		<configuration-properties doc:name="Configuration properties" doc:id="bc69ee1d-d6a2-40e8-baaf-bde51550aa39" file="properties.properties" />
	
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a5c7715e-da18-4250-aefd-0535e9a2d2a3" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="8c002445-41f6-41a2-9ece-4f0b71b5da38" >
		<http:request-connection host="core.spreedly.com" >
			<http:authentication >
				<http:basic-authentication username="QXamfjS8T4d5bRKqR7ocloaNOvU" password="fpSG443zFbGHThNvcTjrxMjiPBv8jA3967tZ73abKJHCO1Y5VO8ubHJy4sGTdk4H" />
			</http:authentication>
		</http:request-connection>
	</http:request-config>
	<flow name="POST_METODO_DE_PAGO" doc:id="d1762e31-911f-4293-852b-710b1e725167">
		<set-variable value="payload" doc:name="Set Variable" doc:id="48f030db-cd00-4797-ae19-201c7c1c01a2" variableName="MetodoPago" />
		<ee:transform doc:name="Transform Message" doc:id="206bc00d-eb80-4b09-a976-a1f87bdf3eb1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	payment_method: {
		bank_account: {
			first_name: payload.first_name,
			last_name: payload.last_name,
			bank_routing_number: payload.bank_routing_number,
			bank_account_number: payload.bank_account_number,
			bank_account_type: payload.bank_account_type,
			bank_account_holder_type: payload.bank_account_holder_type
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Llamada al API POST" doc:id="fe4fee35-aa77-4b23-be2f-e3762b6a0e72" config-ref="HTTP_Request_configuration" path="/v1/payment_methods.json">
			<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="572d63f4-2519-43f5-b9e3-299210f664e7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	transaction: {
		token: payload.transaction.token,
		created: payload.transaction.created_at,
		updated: payload.transaction.updated_at,
		succeeded: payload.transaction.succeeded,
		state: payload.transaction.state,
		payment_method: {
			token: payload.transaction.payment_method.token,
			created: payload.transaction.payment_method.created_at,
			updated: payload.transaction.payment_method.updated_at,
			full_name: payload.transaction.payment_method.full_name,
			routing_number: payload.transaction.payment_method.routing_number,
			account_number: payload.transaction.payment_method.account_number
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e9f11f57-e35b-4402-b350-8299c375aee3" message='** HAS INVOCADO A UN METODO DE PAGO TIPO "POST", DESDE POSTMAN **' />
	</flow>
	<flow name="POST_COMPRAS" doc:id="f51a6862-c7e2-47c9-8477-87ac9da80ee3">
		<set-variable value="payload" doc:name="Set Variable" doc:id="4ebbc0d5-b82d-4f7a-ac75-3440a086d69e" variableName="PostCompras"/>
		<ee:transform doc:name="Transform Message" doc:id="b86d9626-e9bb-4f2e-9496-cdab4ad619d4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	transaction: {
		payment_method_token: payload.payment_method_token,
		amount: payload.amount,
		currency_code: payload.currency_code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="COMPRAS" doc:id="21997e3a-a269-4405-9c24-a52e596146c8" config-ref="HTTP_Request_configuration" path="/v1/gateways/692bGGx77NHdwJv1llg2BbPSpgh/purchase.json">
			<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="31f8d572-9547-45e5-b6dc-63c78ab39cd0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	transaction: {
		created: payload.transaction.created_at,
		updated: payload.transaction.updated_at,
		succeeded: payload.transaction.succeeded,
		token: payload.transaction.token,
		amount: payload.transaction.amount,
		currency_code: payload.transaction.currency_code,
		payment_method: {
			token_method: payload.transaction.payment_method.token,
			created_method: payload.transaction.payment_method.created_at,
			updated_method: payload.transaction.payment_method.updated_at,
			first_name_method: payload.transaction.payment_method.first_name,
			last_name_method: payload.transaction.payment_method.last_name,
			account_number_method: payload.transaction.payment_method.account_number,
			routing_number_method: payload.transaction.payment_method.routing_number
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6d8c7f12-d8de-47fd-ae60-bf759118e9e9" message="&quot;HAZ LLAMADO UNA COMPRA MANUAL EXITOSAMENTE DE TIPO 'POST', DESDE POSTMAN&quot;" />
	</flow>
	<flow name="POST_TRANSACCION" doc:id="fb495c87-8b4c-4d61-9346-eafd83e155db" >
		<set-variable value="payload" doc:name="Set Variable" doc:id="1c25c049-ebca-4942-af4a-ddb90c758bd2" variableName="INFO3"/>
		<ee:transform doc:name="Transform Message" doc:id="ef3ea31a-a36c-4b0c-b37c-0087684f51e4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	transaction: {
		transaction_token: payload.transaction_token,
		amount: payload.amount
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="TRANSACCION" doc:id="337fd9ee-d64c-45c8-93d2-0bf62d118d17" config-ref="HTTP_Request_configuration" path="/v1/transactions/{token_transaction}/purchase.json">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"token_transaction" : payload.transaction.transaction_token
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="1ace7f11-6741-435e-94ff-3a7001e212fe" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	transaction: {
		message: payload.transaction.message,
		created: payload.transaction.created_at,
		updated: payload.transaction.updated_at,
		token: payload.transaction.token,
		amount: payload.transaction.amount,
		gateway_token: payload.transaction.gateway_token,
		reference_token: payload.transaction.reference_token
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="558f8c51-c927-4333-beff-0ab5ea490447" message='"VERIFICADOR DE COMPRA"'/>
	</flow>
</mule>
