Mule_v1/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">
	<flow name="PostFlowCompra" doc:id="a4e6bd7e-4531-4301-a35e-6a3407557944" >
		<http:listener doc:name="PostCompra" doc:id="1e4505f6-0243-4ffd-8512-d29739445919" config-ref="HTTP_Listener_config" path="/Compra" allowedMethods="POST"/>
		<flow-ref doc:name="POST_COMPRAS" doc:id="f85abaf4-c10d-461c-86cf-ce4a015fa1b3" name="POST_COMPRAS"/>
	</flow>
	<flow name="PostFlowPayMethod" doc:id="65889d3b-9eba-4486-a7d8-5565003be200" >
		<http:listener doc:name="PostMetodoPago" doc:id="2a47cc92-4936-4f31-be8e-47ad2703868b" config-ref="HTTP_Listener_config" path="/MetodoPago" allowedMethods="POST"/>
		<flow-ref doc:name="POSTPAYMETHOD" doc:id="6926536c-367e-4729-af4f-33620173bdd1" name="POST_METODO_DE_PAGO" />
	</flow>
	<flow name="PostFlowTransaccion" doc:id="3de97687-d087-42ce-b0d4-8114d64a51ea" >
		<http:listener doc:name="Listener" doc:id="858e62f7-7fbd-4dee-b098-22e36f2aad7c" config-ref="HTTP_Listener_config" path="/Transaccion" allowedMethods="POST"/>
		<flow-ref doc:name="Flow Reference" doc:id="0dbf9687-d6c9-47cd-86fc-9f1ff69e96cf" name="POST_TRANSACCION" />
	</flow>
	<flow name="interfaceFlow" doc:id="6fa99b23-d48a-44f1-a040-013f2819e2d9" >
		<http:listener doc:name="Listener" doc:id="8015f20d-135b-48cb-ab0d-a16ee7ea1c50" config-ref="HTTP_Listener_config" path="/all" allowedMethods="POST"/>
		<set-variable value="payload" doc:name="Set Variable" doc:id="9379e0fe-8eb2-4059-adae-366f2c1079e8" variableName="Datos"/>
		<choice doc:name="Choice" doc:id="07612c39-12c1-4372-818e-ad800d14e137" >
			<when expression="#[payload.TipoPeticion == 'Compra']">
				<flow-ref doc:name="POST_COMPRAS" doc:id="d4ff8bf8-3c83-48fe-9d55-19dffbb6976e" name="POST_COMPRAS" />
			</when>
			<when expression="#[payload.TipoPeticion == 'MetodoPago']">
				<flow-ref doc:name="POSTPAYMETHOD" doc:id="3b66b6ab-7e95-445f-9785-915fc26ca321" name="POST_METODO_DE_PAGO" />
			</when>
			<when expression="#[payload.TipoPeticion == 'Transaction']">
				<flow-ref doc:name="Flow Reference" doc:id="c85214e3-9662-412d-9feb-dfa1103d9cdc" name="POST_TRANSACCION" />
			</when>
			<otherwise>
				<set-payload value='#[{"Error":"La peticion solictada no exite, verifique la informacion" ,
	"Petcion Solicitada":payload.TipoPeticion
}]' doc:name="Set Payload" doc:id="c9cb2daa-a8a8-4635-84ec-22ebd5ca14dc" />
			</otherwise>
		</choice>
	</flow>
</mule>
